{:paths ["src" "resources"]
 :deps
 {com.cnuernber/charred {:mvn/version "1.036"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.994"}
  duratom/duratom {:mvn/version "0.5.9"}
  hiccup/hiccup {:mvn/version "2.0.0-RC3"}
  http-kit/http-kit {:mvn/version "2.8.0"}
  io.github.tonsky/clj-simple-router {:mvn/version "0.1.2"}
  lambdaisland/kaocha {:mvn/version "1.91.1392"}
  org.babashka/http-client {:mvn/version "0.4.22"}
  org.clojure/clojure {:mvn/version "1.12.0"}
  org.xerial/sqlite-jdbc {:mvn/version "3.49.1.0"}
  ring/ring-core {:mvn/version "1.13.0"}}
 :aliases {:nextjournal/garden {:exec-fn nadia.routes/klubbvask}}}
